{% extends "base.html" %} 

{% block content %}


<main class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4 mt-5">
			<form class="card card-body text-center" method="post">
				<h1 class="display-3 text-center">Signup</h1>
				{% csrf_token %}
				{{ error }}
				<div class="mb-3">
					<label class="form-text" for="id_username">Username:</label>
					<input class="form-control"
					type="text"
					name="username"
					maxlength="150"
					autocapitalize="none"
					autocomplete="username"
					autofocus=""
					required=""
					id="id_username"
					/>
					<span class="form-text" class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_only.</span>
				</div>
				<div class="mb-3">
					<label class="form-text" for="id_password1">Password:</label>
					<input class="form-control"
					type="password"
					name="password1"
					autocomplete="new-password"
					required=""
					id="id_password1"
					/>
					<span class="form-text" class="helptext"></span>
				</div>
				<div class="mb-3">
					<label class="form-text" for="id_password2">Password confirmation:</label>
					<input class="form-control"
						type="password"
						name="password2"
						autocomplete="new-password"
						required=""
						id="id_password2"
					/>
					<span class="form-text" class="helptext">Enter the same password as before, for verification.</span>
				</div>
				<div class="mb-3">
					<button class="btn btn-primary">
						signup
					</button>
				</div>
			</form>
		</div>
	</div>
</main>


{% endblock content %}
